.challenges-background {
    background-image: url(../assets/image/Air\ Hockey2.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.clash-hockey {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-bottom: -20px;
}

.clash {
    margin-top: 1px;
    color: #17FBF3;
    text-shadow:
        0 0 1000px #0D74C9,
        0 0 80px #0D74C9;
}

.hockey {
    margin-top: -65px;
    color: #FF20C9;
    text-shadow:
        0 0 1000px #FF008C,
        0 0 80px #FF008C;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: -10;
}

.rectangle-21 {
    background-image: url(../assets/image/Rectangle\ 21.png);
    height: 100px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.elipse {
    background-image: url(../assets/image/Ellipse\ 1.png);
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.male {
    background-image: url(../assets/image/male-icon\ 5.png);
    height: 32px;
    margin-left: 10px;
    margin-top: 0px;
    position: relative;
    top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

.point {
    color: white;
    position: absolute;
    top: 3px;
    right: 70px;
}

.point span {
    display: flex;
    align-items: center;
}

.point span img {
    height: 20px;
    margin-right: 5px;
}

.player {
    margin-top: -10px;
}

.main {
    display: flex;
    justify-content: center;
}

.main img {
    width: 400px;
}

.rectangle-28 {
    position: relative;
    padding: 1rem;
    background: #002947;
    border-radius: 20px;
    z-index: 10;
    width: 300px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    bottom: 15px;
}

.rectangle-28 p {
    color: white;
    position: absolute;
    top: -42px;
    left: 25px;
    font-size: 25px;
}

.rectangle-28::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: inherit;
    background: linear-gradient(90deg, #43FCFF, #FF09AF);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 10;
}

.rounded-rectangle {
    position: relative;
    background: #002947a1;
    border-radius: 12px;
    top: -40px;
    z-index: 1;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    padding-bottom: 40px;
}

.rounded-rectangle::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: inherit;
    background: linear-gradient(90deg, #43FCFF, #FF09AF);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.game-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.left {
    width: 250px;
}

.mid {
    width: 450px;
}

.right {
    width: 250px;
}

.rectangle-26 {
    position: relative;
    padding: 1rem;
    background: #002947;
    border-radius: 20px;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    bottom: -27px;
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 5px;
    padding-top: 35px;
    top: 0;
}

.rectangle-26::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: inherit;
    background: linear-gradient(90deg, #43FCFF, #FF09AF);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 10;
}

.rectangle-26-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 20px;
}

.rectangle-26 div {
    margin-top: -45px;
}

.coin-img {
    width: 20px;
}

.line-1 {
    position: absolute;
    left: 135px;
    top: 1px;
    height: 53px;
}

.line-2 {
    position: absolute;
    left: 265px;
    top: 1px;
    height: 53px;
}

.enter-button {
    position: absolute;
    padding: 1rem;
    background: #002947;
    border-radius: 10px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 10px;
    bottom: 80px;
    right: 458px;
}

.enter-button::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: inherit;
    background: linear-gradient(90deg, #43FCFF, #FF09AF);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 10;
    cursor: pointer;
}

.enter-button img {
    width: 120px;
    position: absolute;
    top: -17px;
    left: 5px;
}


.carousel-container {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    padding: 40px 0;
    padding-top: 70px;
}

.card {
    flex: 0 0 33.33%;
    margin: 0 10px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.5;
    transform: scale(0.85);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    display: block;
}

.card.active {
    transform: scale(1.4);
    opacity: 1;
    z-index: 1;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
}

.nav-button:hover {
    opacity: 50%;
}

.nav-left {
    left: -90px;
}

.nav-right {
    right: -90px;
}

@media (max-width: 768px) {
    .card {
        flex: 0 0 80%;
    }

    .nav-left,
    .nav-right {
        left: 10px;
        right: 10px;
    }
}